body {
	background-color: blueviolet;
}

.ticket {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.ticket-content {
	width: 800px;
	height: 364px;
	background: rgb(211, 178, 82);
	background: linear-gradient(
		140deg,
		rgba(211, 178, 82, 1) 0%,
		rgba(213, 180, 86, 1) 4%,
		rgba(185, 151, 67, 1) 11%,
		rgba(218, 187, 98, 1) 15%,
		rgba(234, 213, 129, 1) 20%,
		rgba(239, 226, 147, 1) 25%,
		rgba(241, 224, 143, 1) 27%,
		rgba(239, 220, 142, 1) 35%,
		rgba(231, 211, 123, 1) 40%,
		rgba(222, 196, 114, 1) 46%,
		rgba(229, 209, 122, 1) 52%,
		rgba(228, 201, 114, 1) 58%,
		rgba(220, 199, 114, 1) 61%,
		rgba(221, 198, 109, 1) 67%,
		rgba(213, 187, 95, 1) 71%,
		rgba(216, 190, 99, 1) 74%,
		rgba(216, 190, 99, 1) 79%,
		rgba(197, 166, 77, 1) 84%,
		rgba(195, 164, 74, 1) 87%,
		rgba(182, 150, 65, 1) 90%,
		rgba(183, 148, 64, 1) 94%,
		rgba(174, 142, 58, 1) 98%,
		rgba(178, 143, 62, 1) 100%
	);
}

.border-left {
	height: 362px;
}

.triangle-top-border-left {
	width: 0;
	height: 0;
	border-top: 12px solid rgb(211, 178, 82);
	border-left: 24px solid transparent;
}

.triangle-border-left {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 24px solid rgb(211, 178, 82);
	border-bottom: 12px solid transparent;
}

.triangle-bottom-border-left {
	width: 0;
	height: 0;
	border-bottom: 12px solid rgb(211, 178, 82);
	border-left: 24px solid transparent;
}

.border-right {
	height: 362px;
}

.triangle-top-border-right {
	width: 0;
	height: 0;
	border-top: 12px solid rgb(211, 178, 82);
	border-right: 24px solid transparent;
}

.triangle-border-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 24px solid rgb(211, 178, 82);
	border-bottom: 12px solid transparent;
}

.triangle-bottom-border-right {
	width: 0;
	height: 0;
	border-bottom: 12px solid rgb(211, 178, 82);
	border-right: 24px solid transparent;
}
